
.photo{
    grid-column-start: 3;
    grid-column-end: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo img{
    width: 70%;
    background-color: beige;
    padding:5px;
}

.header{
    border-bottom: 3px black solid;
    padding: 3px;
    position: fixed;
    background-color: white;
    z-index: 3;
    width: 100%;
    top: -1px;
    display: flex;
    flex-wrap: wrap;
}

.header h1{
    font-family: 'Raleway', sans-serif;
}


.content{
    top:5rem;
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.3fr 0.5fr 0.3fr 0.3fr 5fr;
}

.text{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.ideas{
    height: 100%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:2;
    grid-column-end: 5;
    display:grid;
    grid-template-rows: 0.3fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: flex-start;
}
.ideas h3{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
}
.ideas p{
    text-align: center;
    justify-self: flex-start;
    grid-column-start: 2;
    grid-column-end: 5;
}

.projects{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
}

.education{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
}

.contact{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 4;
}

navbar li{
    display: inline;
    margin: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}
navbar{
    position: fixed;
    right: 10px;
    top: 5px;
}

@media only screen and (max-width: 682px) {
  .header{
    height: 21%;
  }
  navbar{
    top: 10%;
  }
  navbar li{
    display: inline-block;
  }
  .content{
    top:10rem;
  }
}


@media only screen and (max-width: 500px){
    .photo{
     grid-row-start: 1;
     grid-column-start: 1;
     align-self: center;  
     justify-content: center; 
    }
    .text{
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .content{
        position: relative;
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.3fr 0.3fr 5fr;
    }
}


@media only screen and (max-width: 302px){
    .header{
        height: 31%;
    }
    navbar li{
        display:block;
      }
    .content{
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.3fr 0.3fr 5fr;
    }
}