.work{
    position: relative;
    top: 10rem;
    font-family: 'Nunito', sans-serif;
}

hr{
    border-top: 3px solid white;
    width: 20%;
    border-bottom: none;
    border-left: none;
    border-right: none;
    
}
.lugh-container{
    display:flex;
    align-items: center;
    text-align: center;
}
.projects{
    position: relative;
    top: 13rem;
}

.projects summary{
    list-style-type: none;
}

.projects summary:hover{
    cursor: pointer;
    color: gray;
}