.work{
    position: relative;
    top: 10rem;
    font-family: 'Nunito', sans-serif;
    animation-name: fadeIn;
    animation-duration: 1s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work h1{
    text-align: center;
    width: 100%;
}

hr{
    border-top: 3px solid white;
    width: 20%;
    border-bottom: none;
    border-left: none;
    border-right: none;
    
}
.lugh-container{
    display:flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.projects{
    position: relative;
    top: 13rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects h3{
    text-align: center;
    width: 100%;
}

.project-container{
    background-color: rgb(220, 86, 86);
    margin: 1rem;
    padding: 0.5rem;
    width: 40%;
    border: 3px white solid;
    border-radius: 3%;
    justify-content: center;
}

.project-container:hover{
    background-color: rgb(168, 8, 8);
    cursor:text;
}
.job{
    border: 3px solid white;
    margin: 2rem;;
    border-radius: 3%;
    padding: 1rem;
    width: 50%;
}

.job:hover{
    background-color: rgb(41, 112, 171);
    cursor:text;
}

.job li{
    margin:1rem;
}




@keyframes fadeIn {
    0% {
        opacity: 10px;
        top:0;
    }
    25%{opacity: 0.25;}

    50%{
        opacity: 0.5;
        top:0;
    }
    100% {opacity: 1;}
 } 