.work{
    position: relative;
    top: 10rem;
    font-family: 'Nunito', sans-serif;
    animation-name: fadeIn;
    animation-duration: 1s;
}

hr{
    border-top: 3px solid white;
    width: 20%;
    border-bottom: none;
    border-left: none;
    border-right: none;
    
}
.lugh-container{
    display:flex;
    align-items: center;
    text-align: center;
}
.projects{
    position: relative;
    top: 13rem;
}

.projects summary{
    list-style-type: none;
}

.projects summary:hover{
    cursor: pointer;
    color: gray;
}



@keyframes fadeIn {
    0% {
        opacity: 10px;
        top:0;
    }
    25%{opacity: 0.25;}

    50%{
        opacity: 0.5;
        top:0;
    }
    100% {opacity: 1;}
 } 